/* RESET
______________________________*/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

a:link,
a:visited,
a:hover,
a:active {
  outline: 0;
}

img {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}
